# ---
# PLSPUTMEAT: /etc/systemd/system/ytd.service
# PLSOWNME: root
# PLSGRPME: root
# PLSMODME: 444
# PLSRUNPOST: sudo sh -c "systemctl daemon-reload"
# ---
[Unit]
Description=Youtube Daemon

[Service]
User=chad
Group=video
Type=oneshot
ExecStart=/usr/bin/ytd
WorkingDirectory=/home/chad/
