# ---
# PLSPUTMEAT: /etc/systemd/system/ytd.timer
# PLSOWNME: root
# PLSGRPME: root
# PLSMODME: 444
# PLSRUNPOST: sudo sh -c "systemctl daemon-reload && systemctl enable ytd.timer"
# ---
[Unit]
Description=Youtube Daemon Timer

[Timer]
OnBootSec=1m
OnUnitActiveSec=60m
AccuracySec=1s
Unit=ytd.service

[Install]
WantedBy=timers.target
